services:
  web:
    build: .
    command: bundle exec bin/rails server -b 0.0.0.0
    volumes:
      - .:/rails

    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: password
      DATABASE_NAME: training_manager_development
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: training_manager_development
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:

