<h1>User Dashboard</h1>

<ul>
  <li><%= link_to "マイスケジュール", users_training_schedules_path %></li>
  <li><%= link_to "受講/開催予定研修一覧", users_training_schedules_path %></li>
  <li><%= link_to "参加済み研修", users_training_histories_path %></li>
</ul>
