<h2 class="h4 mb-4 text-center">ダッシュボード</h2>

<div class="d-flex justify-content-center flex-wrap gap-3 mb-4">
  <!-- 1: 参加予定研修 -->
  <%= link_to '予定表', users_training_schedules_path, class: "btn btn-primary btn-lg" %>

  <!-- 2: 参加済み研修 -->
  <%= link_to '参加済み研修', users_training_participations_path, class: "btn btn-secondary btn-lg" %>
</div>

<div class="text-center my-4">
  <%= image_tag "rooms.png", alt: "部屋一覧", class: "img-thumbnail" %>
</div>