<%= render "shared/training_schedule_detail",
           training_schedule: @training_schedule %>

<div class="mt-3">
  <%= link_to "一覧に戻る",
              users_training_participations_path,
              class: "btn btn-secondary" %>
</div>
