<header class="navbar navbar-expand-lg bg-secondary bg-opacity-25 border-bottom">
  <div class="container-fluid">
    <%= link_to 'Training Manager',
        dashboard_path_by_role,
        class: 'navbar-brand fw-semibold text-dark' %>

    <% if current_user %>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#appNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="appNavbar">
        <ul class="navbar-nav ms-auto align-items-lg-center">

          <li class="nav-item">
            <%= link_to 'ログアウト',
                logout_path,
                method: :delete,
                data: { turbo: false },
                class: 'nav-link text-dark' %>
          </li>

        </ul>
      </div>
    <% end %>
  </div>
</header>
