<header class="app-header">
  <div class="app-header-container">
    <!-- ブランド -->
    <%= link_to 'Training Manager', dashboard_path_by_role, class: 'app-header-brand' %>

    <!-- 右側のユーザー情報＆ナビ -->
    <div class="app-header-right">
      <% if current_user %>
        <p class="app-header-welcome">
          ようこそ、<%= current_user.real_name.presence || current_user.name %> さん
        </p>
        <nav class="app-header-nav">
          <ul class="app-header-list">
            <li>
              <%= link_to 'ログアウト',
                          logout_path,
                          method: :delete,
                          data: { turbo: false },
                          class: 'app-header-link' %>
            </li>
          </ul>
        </nav>
      <% end %>
    </div>
  </div>
</header>
