<% content_for :head do %>
  <%= stylesheet_link_tag "shared_index_button", "data-turbo-track": "reload" %>
<% end %>


<h1 class="mb-4">研修スケジュール</h1>

<%= render 'shared/index_button' %>

<%= render partial: "shared/calendar",
           locals: {
             calendar_id: "calendar",
             schedules: @training_schedules,
             url_for_event: ->(s) { admin_training_schedule_path(s) }
           } %>
