<%= render "shared/training_schedule_detail",
  training_schedule: @training_schedule %>

<div class="mb-3">
  <%= link_to "戻る", admin_training_schedules_path, class: "btn btn-secondary" %>
  <%= link_to "編集",
    edit_admin_training_schedule_path(@training_schedule),
    class: "btn btn-primary ms-2" %>
</div>
